name: Validate Pull Request

on:
  pull_request:

jobs:
  validate-pull-request:
    runs-on: ubuntu-latest
    name: Validate Pull Request
    steps:

    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Setup node.js
      uses: actions/setup-node@v6.2.0
      with:
        node-version: 18

    - name: Install dependencies
      run: npm ci

    - name: Validate Pull Request Message
      run: |
        cat << 'EOM' | npx commitlint --verbose --config commitlint.config.js
        ${{ github.event.pull_request.title }}

        ${{ github.event.pull_request.body }}
        EOM

    - name: Validate Commit Messages
      run: |
        npx commitlint \
        --from ${{ github.event.pull_request.base.sha }} \
        --to ${{ github.event.pull_request.head.sha }} \
        --verbose \
        --config commitlint.config.js

  tests:
    uses: ./.github/workflows/test.yml
    needs: [validate-pull-request]

  codeql:
    uses: ./.github/workflows/codeql-analysis.yml

  dependabot-merge:
    uses: ./.github/workflows/dependabot-merge.yml
    needs: [validate-pull-request,tests,codeql]
    secrets: inherit
    permissions:
      pull-requests: write
      contents: write
